body {
    margin-bottom: 50px;
}

.spacing {
    margin-bottom: 30px;
}

#description {
    margin: 0 150px;
}

@media screen and (max-width: 365px) {
    img {
        width: 100px;
        height: 100px;
    }
    #description {
        margin: 0;
    }
}